{
  "extends": [
    "standard",
    "plugin:react/recommended"
  ],
  "plugins": [
    "react"
  ],
  "rules": {
    "react/jsx-uses-vars": "error",
    "react/jsx-uses-react": "error",
    "react/jsx-no-undef": "error",
    "react/react-in-jsx-scope": "error",
    "react/prop-types": "off",
    "no-unused-vars": "error",
    "prefer-const": "error",
    "quotes": ["error", "double"],
    "space-before-function-paren": ["error", {
      "asyncArrow": "always",
      "named": "never",
      "anonymous": "never"
    }]
  },
  "globals": {
    "localStorage": true
  },
  "settings": {
    "react": {
      "version": "16.8"
    }
  }
}
